.bubble {
    background-image: url("/Bubbles/Bubble.png");
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 128px;
    height: 128px;
    border: none;
}

body {
    margin: 0px;
}

#bubblesLayout {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 138px);
    grid-template-rows: repeat(auto-fill, 138px);
}