body {
    margin: 0px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    /* variables */
    --bubbleSize: 64px;
}

#bubblesLayout {
    width: calc(100vw - 50px);
    height: calc(100vh - 15px - 50px - 60px);
    margin: 25px;
    padding: 0px;
    display: grid;
}

.bubble {
    background-image: url("../Bubbles/Bubble.png");
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: var(--bubbleSize);
    height: var(--bubbleSize);
    padding: 0px;
    margin: 0px;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    animation: grow 0.2s;

}

.poppedBubble {
    background-image: url("../Bubbles/Popped.png");
    animation: shrink 0.1s;
}

@keyframes shrink {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    to {
        transform: scale(1);
    }
}

@keyframes grow {
    from {
        transform: scale(0.95);
    }

    to {
        transform: scale(1);
    }
}

#header {
    margin-left: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 50px;
    text-align: left;
    white-space: nowrap;
}

#popCount {
    font-weight: 600;
    text-align: left;
    font-size: 40px;
    overflow: none;
    line-height: 50px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}


/* same appearance for both themes */

#refresh {
    width: 45px;
    height: 45px;
    color: whitesmoke;
    padding: 2.5px;
}

#refreshIcon {
    filter: brightness(0%);
    width: 35px;
    height: 35px;
    text-align: center;
}

#links {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 10px;
    overflow: hidden;
    height: 20px;
}

.link {
    color: grey;
    padding-left: 10px;
    font-size: 0.9em;
}

.link:visited {
    color: gray;
}

.link:hover {
    color: blue;
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: black;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: black;
        background-color: whitesmoke;
    }
}