body {
    margin: 0px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    /* variables */
    --bubbleSize: 64px;
}

#bubblesLayout {
    width: calc(100vw - 50px);
    height: calc(100vh - 15px - 50px - 45px);
    margin: 25px;
    padding: 0px;
    display: grid;
}

.bubble {
    background-image: url("../Bubbles/Bubble.png");
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: var(--bubbleSize);
    height: var(--bubbleSize);
    padding: 0px;
    margin: 0px;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.poppedBubble {
    background-image: url("../Bubbles/Popped.png");
}

#popCount {
    font-weight: 600;
    text-align: left;
    font-size: 50px;
    line-height: 50px;
    margin-left: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#links {
    text-align: right;
    position: absolute;
    right: 10px;
    top: 10px;
}

.link {
    color: grey;
    padding-left: 10px;
    font-size: 0.9em;
}

.link:visited {
    color: gray;
}

.link:hover {
    color: blue;
}